<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- Alkahest configuration values. -->
    <appSettings>
        <!--
        How verbose should logging be?

        error/warning: Log errors and warnings. These are always enabled.
        basic: Also log very basic operational information.
        info: Same as basic, but log additional informative messages.
        debug: Log absolutely everything. Can slow down Alkahest significantly.

        Most users should probably use basic. Use info or debug if you are
        having a problem and you need to troubleshoot it.
        -->
        <add key="logLevel" value="debug" />
        <!--
        The date/time format that the logging subsystem will use for timestamps.
        Leave empty to disable timestamps.

        See: https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings
        -->
        <add key="logTimestampFormat" value="HH:mm:ss:fff" />
        <!--
        Comma-separated list of log sources to discard output from. Most users
        should leave this as it is, since removing any of the defaults will lead
        to a ton of output, significantly slowing down Alkahest.

        Note that this will not discard errors and warnings.
        -->
        <add key="discardLogSources" value="PacketProcessor" />
        <!--
        Comma-separated list of built-in loggers to use. Can be empty.

        console: Logs output to the console window.
        file: Logs output to a file.
        -->
        <add key="loggers" value="console, file" />
        <!--
        Enable colors in the console logger?
        -->
        <add key="enableColors" value="true" />
        <!--
        Colors for the console logger.

        See: https://docs.microsoft.com/en-us/dotnet/api/system.consolecolor?view=netframework-4.7.2
        -->
        <add key="errorColor" value="red" />
        <add key="warningColor" value="yellow" />
        <add key="basicColor" value="white" />
        <add key="infoColor" value="gray" />
        <add key="debugColor" value="cyan" />
        <!--
        Directory for the file logger to store log files in. Will be created if
        it does not exist.
        -->
        <add key="logDirectory" value="Logs" />
        <!--
        The date/time format that the file logger will use for file names.

        See: https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings
        -->
        <add key="logFileNameFormat" value="yyyy-MM-dd_HH-mm-ss-fff" />
        <!--
        Directory where the plugin loader will search for plugin assemblies.
        Will be created if it does not exist.
        -->
        <add key="pluginDirectory" value="Plugins" />
        <!--
        The plugin loader will load all assemblies with a file name matching
        this pattern.

        See: https://docs.microsoft.com/en-us/dotnet/api/system.io.directory.enumeratefiles?view=netframework-4.7.2
        -->
        <add key="pluginPattern" value="*.dll" />
        <!--
        Comma-separated list of plugin names that will not be started. Note that
        the assemblies they are in will still be loaded.
        -->
        <add key="disablePlugins" value="simple-test" />
        <!--
        The URI where package management functionality will look for the online
        package registry.
        -->
        <add key="packageRegistryUri" value="https://raw.githubusercontent.com/tera-alkahest/alkahest-registry/master/manifest.json" />
        <!--
        Directory where package management functionality will install C# script
        packages. Will be created if it does not exist.
        -->
        <add key="csharpPackageDirectory" value="CSharp" />
        <!--
        Directory where package management functionality will install Python
        script packages. Will be created if it does not exist.
        -->
        <add key="pythonPackageDirectory" value="Python" />
        <!--
        The URI where asset management functionality will look for the manifest.
        -->
        <add key="assetManifestUri" value="https://raw.githubusercontent.com/tera-alkahest/alkahest-assets/master/manifest.json" />
        <!--
        Directory that assets (such as data center files) will be stored in.
        -->
        <add key="assetDirectory" value="Assets" />
        <!--
        Which region are you playing in? This should be de, fr, jp, na, ru, se,
        th, tw, or uk.
        -->
        <add key="region" value="uk" />
        <!--
        Should the server list proxy be enabled? If you are running Alkahest and
        tera-proxy together, set this to false.
        -->
        <add key="enableSls" value="true" />
        <!--
        The IP address that the server list proxy will listen on will be
        determined by adding a region-specific offset to the last component of
        this base IP address.
        -->
        <add key="slsBaseAddress" value="127.0.0.10" />
        <!--
        When set to a non-zero value, this specifies the port that the server
        list proxy should listen on. When set to zero, the port is determined
        based on region.
        -->
        <add key="slsPort" value="0" />
        <!--
        The IP address that game proxies will listen on will be determined by
        adding a region-specific offset to the last component of this base IP
        address.
        -->
        <add key="gameBaseAddress" value="127.0.0.20" />
        <!--
        The port that a game proxy will listen on will be determined by adding
        the server's position in the server list to this base port.
        -->
        <add key="gameBasePort" value="9250" />
        <!--
        Timeout in seconds for server list HTTP requests.
        -->
        <add key="slsTimeout" value="10" />
        <!--
        How many times server list HTTP requests will be retried on timeout.
        -->
        <add key="slsRetries" value="5" />
        <!--
        Connection queue backlog for the game proxy server. Increase this if
        you are running Alkahest as a server to be used by multiple clients.
        -->
        <add key="gameBacklog" value="1" />
        <!--
        This is the maximum amount of concurrent TERA clients the proxy will
        accept. If you are running Alkahest as a server to be used by multiple
        clients, you may need to increase this.
        -->
        <add key="gameMaxClients" value="5" />
        <!--
        Timeout in minutes for TERA connections. This applies to all send and
        receive operations to and from the real server and the client. A value
        of 0 means no timeout.

        Note that if you are AFK, the TERA client will not send any packets at
        all, except for a pong response to a ping sent by the server every 10
        minutes. So, generally, do not go below 10 minutes for this value.
        -->
        <add key="gameTimeout" value="15" />
        <!--
        Size limit of the object pool used to recycle socket argument objects.
        If the pool's size exceeds this value, further objects will simply be
        allocated normally without pooling. No limit if set to 0.
        -->
        <add key="poolLimit" value="0" />
        <!--
        Automatically adjust the hosts file to redirect TERA locally? If you are
        running Alkahest on a separate machine from the one you play the game
        on, or if you are running Alkahest and tera-proxy together, set this to
        false.
        -->
        <add key="adjustHostsFile" value="true" />
        <!--
        Automatically install root certificates? If you are running Alkahest on
        a separate machine from the one you play the game on, or if you are
        running Alkahest and tera-proxy together, set this to false.
        -->
        <add key="adjustCertificateStore" value="true" />
    </appSettings>
    <!-- .NET runtime configuration. Do not touch this section. -->
    <runtime>
        <GCCpuGroup enabled="true" />
        <Thread_UseAllCpuGroups enabled="true" />
        <ThrowUnobservedTaskExceptions enabled="true" />
        <UseRandomizedStringHashAlgorithm enabled="1" />
        <gcServer enabled="true" />
    </runtime>
</configuration>
