<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- Packet logger plugin configuration values. -->
    <appSettings>
        <!--
        Directory to store packet log files in.
        -->
        <add key="logDirectory" value="PacketLogs" />
        <!--
        The date/time format used for packet log files names.

        See: https://msdn.microsoft.com/en-us/library/8kb3ddd4(v=vs.110).aspx
        -->
        <add key="logFileNameFormat" value="yyyy-MM-dd_HH-mm-ss-fff" />
        <!--
        Specifies whether packet logs should be compressed. It's generally a
        good idea to turn this on as packet logs would be huge otherwise, but if
        you want to process packet log files with various generic binary
        analysis tools, you will need to turn this off.
        -->
        <add key="compressLogs" value="true" />
    </appSettings>
</configuration>
