<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- C# plugin configuration values. -->
    <appSettings>
        <!--
        Directory where the plugin will search for script packages. Will be
        created if it doesn't exist.
        -->
        <add key="packageDirectory" value="Packages" />
        <!--
        Comma-separated list of script packages that won't be started.
        -->
        <add key="disablePackages" value="" />
    </appSettings>
</configuration>
