<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- .NET runtime configuration. Don't touch this section. -->
    <runtime>
        <GCCpuGroup enabled="true" />
        <Thread_UseAllCpuGroups enabled="true" />
        <ThrowUnobservedTaskExceptions enabled="true" />
        <UseRandomizedStringHashAlgorithm enabled="1" />
        <gcConcurrent enabled="false" />
        <gcServer enabled="true" />
    </runtime>
</configuration>
